language: ruby
cache: bundler

addons:
  postgresql: "9.4"

before_script:
  - createdb store_attribute_test
  - psql -U postgres -d store_attribute_test -c 'CREATE EXTENSION IF NOT EXISTS hstore;'

matrix:
  include:
    - rvm: 2.4.1
      gemfile: gemfiles/rails5.gemfile
    - rvm: 2.6
      gemfile: gemfiles/rails6.gemfile
    - rvm: 2.7
      gemfile: gemfiles/rails6.gemfile
    - rvm: ruby-head
      gemfile: gemfiles/railsmaster.gemfile
  allow_failures:
    - rvm: ruby-head
      gemfile: gemfiles/railsmaster.gemfile
