name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: "${{ matrix.gemfile }}"
      CI: true
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.0"]
        postgres: ["13"]
        gemfile: [
          "gemfiles/rails6.gemfile"
        ]
        include:
        - ruby: "3.1"
          postgres: "14"
          gemfile: "gemfiles/rails7.gemfile"
        - ruby: "3.0"
          postgres: "13"
          gemfile: "gemfiles/railsmaster.gemfile"
        - ruby: "2.7"
          postgres: "12"
          gemfile: "gemfiles/rails60.gemfile"
        - ruby: "2.6"
          postgres: "12"
          gemfile: "gemfiles/rails6.gemfile"
    services:
      postgres:
        image: postgres:${{ matrix.postgres }}
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Install system deps
      run: |
        sudo apt-get update
        sudo apt-get -yqq install libpq-dev
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-version: 2.2.15
        bundler-cache: true
    - name: Create DB
      run: |
        env PGPASSWORD=postgres createdb -h localhost -U postgres store_attribute_test
    - name: Run RSpec
      run: |
        bundle exec rspec -f d --force-color
